/* Tree Branches */
.treebranches-wrapper {
    position: relative;
    margin: auto;
    max-width: 1000px;
    z-index: 3;
}
  
.treebranches {
    position: relative;
    pointer-events: none;
}
  
.branch {
    position: absolute;
    width: 250px;
}
  
#branch01 {
    top: 0;
    left: 0;
}
  
#branch02 {
    top: 400px;
    right: 0;
}
  
#branch03 {
    top: 800px;
    left: 0;
}
  
#branch04 {
    top: 1200px;
    right: 0;
}
  
#branch05 {
    top: 1600px;
    left: 0;
}
  
#branch06 {
    top: 2000px;
    right: 0;
}

#branch07 {
    top: 2400px;
    left: 0;
}

#branch08 {
    top: 2800px;
    right: 0;
}

#branch09 {
    top: 3200px;
    left: 0;
}

#branch10 {
    top: 3600px;
    right: 0;
}

#branch11 {
    top: 4000px;
    left: 0;
}

#branch12 {
    top: 4400px;
    right: 0;
}

#branch13 {
    top: 4800px;
    left: 0;
}

#branch14 {
    top: 5200px;
    right: 0;
}

#branch15 {
    top: 5600px;
    left: 0;
}

#branch16{
    top: 6000px;
    right: 0;
}

.branchborder {
    display: flex;
    justify-content: center;
}

#border {
    pointer-events: none;
    position: fixed;
    width: 1000px;
    height: 100vh;
    z-index: 4;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}
  
.align-left.slide-in {
    transform: translateX(-100%) scale(0.95);
}
  
.align-right.slide-in {
    transform: translateX(100%) scale(0.95);
}
  
.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}

/* Bushes */
.bush-wrapper {
    position: relative;
    margin: auto;
    max-width: 1000px;
    z-index: 2;
}
.bushes {
    position: relative;
    pointer-events: none;
}

.bush {
    position: absolute;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#bush01 {
    top: -50px;
    width: 250px;
}
 
#bush02 {
    top: 150px;
    width: 225px;
}

#bush03 {
    top: 350px;
    width: 445px;
}

#bush04 {
    top: 850px;
    width: 125px;
}

#bush05 {
    top: 800px;
    width: 150px;
}
 
#bush06 {
    top: 1000px;
    width: 275px;
}

#bush07 {
    top: 1275px;
    width: 275px;
}

#bush08 {
    top: 1525px;
    width: 400px;
} 

#bush09 {
    top: 1760px;
    width: 250px;
}
 
#bush10 {
    top: 2150px;
    width: 225px;
}

#bush11 {
    top: 2350px;
    width: 445px;
}

#bush12 {
    top: 2850px;
    width: 125px;
}

#bush13 {
    top: 2740px;
    width: 150px;
}
 
#bush14 {
    top: 2900px;
    width: 275px;
}

#bush15 {
    top: 3275px;
    width: 275px;
}

#bush16 {
    top: 3525px;
    width: 400px;
} 
#bush17 {
    top: 3760px;
    width: 250px;
}
 
#bush18 {
    top: 4150px;
    width: 225px;
}

#bush19 {
    top: 4350px;
    width: 445px;
}

#bush20 {
    top: 4850px;
    width: 125px;
}

#bush21 {
    top: 4740px;
    width: 150px;
}
 
#bush22 {
    top: 4900px;
    width: 275px;
}

#bush23 {
    top: 5275px;
    width: 275px;
}

#bush24 {
    top: 5525px;
    width: 400px;
} 
#bush25 {
    top: 5820px;
    width: 250px;
}
 
#bush26 {
    top: 6000px;
    width: 225px;
}

#bush27 {
    top: 6350px;
    width: 445px;
}

#bush28{
    top: 6550px;
    width: 125px;
}

/* Spirit */
 .spirit-wrapper{
    position: relative;
    margin: auto;
    max-width: 1000px;
    z-index: 2;
}

.spirits {
    position: relative;
    
}

.spirit {
    position: absolute;
} 

#idle {
    top: 2000px;
    width: 100px;
    left: 200px;
}

#idle02 {
    top: 5100px;
    width: 100px;
    left: 600px;
}

/* Foot Prints */
.prints-wrapper {
    position: relative;
    margin: auto;
    max-width: 1000px;
    z-index: 2;
}

.prints {
    position: relative;
}

.print {
    position: absolute;
}

#print01 {
    top: 1080px;
    width: 50px;
    left: 350px;
}

#print02 {
    top: 3000px;
    width: 50px;
    left: 600px;
}

#print03 {
    top: 4200px;
    width: 100px;
    left: 675px;
}
#print04 {
    top: 6000px;
    width: 150px;
    left: 200px;
}